@import url("./cssfiles/loginform.css");
@import url("./cssfiles/menupage.css");
@import url("./cssfiles/address.css");
@import url("./cssfiles/searchbar.css");
@import url("./cssfiles/dessertmenu.css");
@import url("./cssfiles/search.css");

.body{
  font-family: 'Roboto', sans-serif !important;
}

.gidlogo{
  height : 60px;
  width:60px;
}

.cards{
  display: grid;
  justify-content: center;
  position: relative;
}
.slides{
  position: relative;
 width: 70vw;
  height: 600px;
  /* object-fit: contain; */

}
.side-slides{
  position: relative; 
  height: 600px;
  width: 25vw;
}
.slide-pic{
  height:100%;
  width: 100%;
 object-fit:fill;


}
.side-slide-pic{
  /* height:100%; */
  width: 100%;
 object-fit:fill;


}
.carousel-control-next-icon{
  margin-left: 30px;
}
.carousel-control-prev-icon{
  margin-right: 30px;
}
.slide-txt{
  color: rgb(25 118 210);
  font-size: 2000;
}
.slide-desc{
  color: rgb(255 108 0 / 1);
  font-weight: bold;
}

.tpickslist {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
   /* justify-content: space-evenly;  */
  /* flex-wrap: wrap; */

}

.app-logo{
  height: 30px;
  /* width: 150px; */
  object-fit: cover;
  margin-top: 20px;
}
.donut{
  height : 60px;
  width:350px;
}
.custom-card{
  height:450px;
   width:16rem;
 
   
}
.poster{
  object-fit: cover;
  width:100%;
  height: 200px;
}

.top-picks{
  margin-top: 30px;
  /* max-width: 800px; */
  /* padding-bottom: 16px; */
  
}
.buttons{
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}
.price{
  color: gray;
  font-weight :600;
  
}
.offer{
  font-weight :600;
  color: rgba(52, 151, 243, 0.993);
}

.question{
  font-weight: bold;
  font-size: large;
}
.custom-footer{
  display: flex;
  justify-content: center;
  padding: 25px;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-txt{
  /* padding :16px; */
  color: black;
  padding-top: 20px;
}

.headmenu{
  display:flex;
  flex-wrap: wrap;
  position: static;
   /* background-image: url(background.jpg); */
}
/* .footer-disp{
 position: static;
 bottom: 0;
 left: 0;
 right: 0;

} */


/* .searchButton{
  color:inherit;
} */
.head-end{
display: flex;
justify-content: flex-end;
margin-right: 40px;

}
.explore{
  margin: 60px;
  display: flex;
  justify-content: center;
}
.custom-filters{
  margin-right: 200px;
 
}

.custom-homeCard{
  height: 350px;
  width: 300px;
  border: none;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: none;
/* box-shadow: rgba(0, 0, 0, 0.19) 10px 10px 20px, rgba(0, 0, 0, 0.23) 10px 6px 6px; */
  text-align: start;
}
.custom-card-img{

  height: 250px;
  width: 300px;
  object-fit: cover;
  position: relative;
  vertical-align: top;
  border-radius: 8%;
 
  /* box-shadow: rgba(0, 0, 0, 0.19) 10px 10px 20px, rgba(0, 0, 0, 0.23) 10px 6px 6px; */
}
/* .custom-card-img:hover{
 
} */

.custom-card-btn{
  
  /* align-items: baseline; */
  justify-content: space-between;
place-items: center;
display: flex;
flex-direction: column;
/* z-index: 1; */
position: absolute;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
flex-direction: row-reverse;
padding-top: 100px;
padding-right: 10px;


}
.tryNowbtn{
  width: 30px;
  height: 30px;
  
}


/* .custom-homeCard :hover + .custom-card-text{

} */
.productDetails{
  background-position-x: right;
  background-position-y: bottom;
}

.custom-card .custom-card-title :hover{
transform: translateY(-600px);
}
.slides_Split{
  display: flex;
 justify-content: space-around;
}

